extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1 iMember
  div.berriesAndThoughts
    div(id="thought-right-words")
      div(id="right-words")
      img(src='thought-bubble-right.png' class="thought-right")
    img(src='Member-berries.png' class="berries")
    div(id ="thought-left-words")
      div(id ="left-words")
      img(src='thought-bubble-left.png' class="thought-left")
  u
    li
      a(href='http://list-imember.herokuapp.com/users/register' class='logAndReg' id='logBtn')
        button(name='Register') Register
    li
      a(href='http://list-imember.herokuapp.com/users/login' class='logAndReg' id='regBtn')
        button(name='Login') Login
