extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  .header-div
    a(href='http://list-imember.herokuapp.com/')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      a(href='http://list-imember.herokuapp.com/users/register' class='logAndReg' id='logBtn')
        button(name='Register' class='logAndRegButtons') Register
      a(href='http://list-imember.herokuapp.com/users/login' class='logAndReg' id='regBtn')
        button(name='Login' class='logAndRegButtons') Login

block content
  div.berriesAndThoughts
    div(id="thought-right")
      div(id="words-right")
      img(src='thought-bubble-right.png' class="bubble-right")
    img(src='Member-berries.png' class="berries")
    div(id ="thought-left")
      div(id ="words-left")
      img(src='thought-bubble-left.png' class="bubble-left")
