extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.berriesAndThoughts
    div(id="thought-right")
      div(id="words-right")
      img(src='thought-bubble-right.png' class="bubble-right")
    img(src='Member-berries.png' class="berries")
    div(id ="thought-left")
      div(id ="words-left")
      img(src='thought-bubble-left.png' class="bubble-left")
