extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/forms.css")
  link(rel="stylesheet" href="/stylesheets/list-new.css")

  .header-div
    a(href='http://list-imember.herokuapp.com/')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      a(href='http://list-imember.herokuapp.com/users/logout' class="logout-container")
        button(name="New List" class="logout-button") Logout

block content
  .main
    a(href='http://list-imember.herokuapp.com/home') Home
    +validationErrorSummary(errors)
    body
      form(action="/lists/new" method="post")
        input(type="hidden", name="_csrf" value=csrfToken)
        +field('Name', 'name', newList.name)
        div.buttonGroup
          button(type="submit") Create List
