extends layout

append head
  link(rel="stylesheet" href="/stylesheets/forms.css")
  link(rel="stylesheet" href="/stylesheets/task-new.css")

  .header-div
    a(href='http://list-imember.herokuapp.com/')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      a(href='http://list-imember.herokuapp.com/users/logout' class="logout-container")
        button(name="New List" class="logout-button") Logout

block content
  body
    .main
      a(href='http://list-imember.herokuapp.com/home') Home
      form(action="/tasks/new" method="post")
        div.formGroup
          label(for="content") Task
          input(type="text", name="content")
        div.formGroup
          label(for="startDate") Start Date
          input(type="date" name="startDate")
          input(type="time" name="startDate")
        div.formGroup
          label(for="dueDate") Due Date
          input(type="date" name="dueDate")
          input(type="time" name="dueDate")
        div.formGroup
          label(for="priority") Is Priority
          input(type="checkbox" name="priority" checked=false)
        div.formGroup
          label(for="repeat") Repeat
          input(type="checkbox" name="repeat" checked=false)
          input(type="date" name="repeat")
        div.formGroup
          label(for="location") Location
          input(type="text" name="location")
        div.buttonGroup
          button(type="submit") Create
