extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/forms.css")
  link(rel="stylesheet" href="/stylesheets/background-right.css")

  .header-div
    a(href='http://list-imember.herokuapp.com/')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      a(href='http://list-imember.herokuapp.com/users/login' class='logAndReg' id='regBtn')
        button(name='Login' class='logAndRegButtons') Login

block content
  body
    .main
      +validationErrorSummary(errors)
      form(action="/users/register" method="post")
        input(type="hidden", name="_csrf" value=csrfToken)
        +field('Username', 'userName', newUser.userName)
        +field('Email', 'email', newUser.email, 'email')
        +field('Password', 'password', '', 'password')
        +field('Confirm Password', 'confirmPassword', '', 'password')
        button(type="submit") Submit
        a(href='/users/login') Already have an account?
        a(href='/')
          button(type="button") Cancel
