extends layout

include utils.pug

block content
  h1 Welcome to the User Home
  h3 Tasks
  a(href='http://localhost:8080/lists/new') New List
  a(href='http://localhost:8080/tasks/new') New Task
  a(href='http://localhost:8080/users/logout') Logout
