extends layout

include utils.pug

block content
  body
    form(action="/users/register" method="post")
      input(type="hidden", name="csrfToken" value=csrfToken)
      +field('Username', 'userName', userName)
      +field('Email', 'email', email, 'email')
      +field('Password', 'password', '', 'password')
      +field('Confirm Password', 'confirmPassword', '', 'password')
      button(type="submit") Submit





//- (labelText, fieldName, fieldValue, fieldType='text', placeholder=null)
  