body {
    height: 100vh;
    background-image: url('../Member-berries3.png');
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: 135% -70px;
}

input {
    margin: 5px;
    background-color: white;
}

form {
    padding: 50px;
    margin: 10px;
}

button {
    background-color: #443A7B;
}

.alert-danger {
    border: 2px solid #443A7B;
    padding: 50px;
    margin: 10px;
}

p {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: .5em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 10vh;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: flex;
    align-content: center;
    text-align: center;
    margin-right: 10px;
}
