.berries {
    margin-top: 10vh;
    height: 513px;
    width: 311px;
}

.berriesAndThoughts {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}

.bubble-left,
.bubble-right {
    width: 200px;
    height: 170px;
}

.bubble-left {
    margin-bottom: 135px;
}

.bubble-right {
    margin-bottom: -30px;
}

#words-left,
#words-right {
    position: absolute;
    width: 135px;
    margin-left: 30px;
    margin-top: 65px;
    text-align: center;
}
