.berries {
    margin: 10vh;
    height: 513px;
    width: 311px;
}

.berriesAndThoughts {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}

.bubble-left,
.bubble-right {
    width: 200px;
    height: 170px;
}
