form {
    border: 2px solid #443A7B;
    padding: 30px 30px 20px 30px;
}

.formGroup {
    margin-bottom: 10px;
}

a {
    width: fit-content;
}
.buttonGroup {
    display: flex;
    justify-content: center;
}
