* {
    background-color: #D7C7E1;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url('../Member-berries3.png');
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: -30% -60px;
}

input {
    margin: 5px;
    background-color: white;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    padding: 30px;
    margin: 15px;
}

a {
    margin: 5px;
}

button {
    border-radius: 10px;
    color: #F0E9F2;
    background-color: #443A7B;
    padding: 5px;
    margin: 2px 15px 2px 10px;
}

button:hover {
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .5);
}

.alert-danger {
    border: 2px solid #443A7B;
    padding: 30px;
    margin: 15px;
}

p {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: .5em;
}
