* {
  box-sizing: border-box;
  background-color: #D7C7E1;
}

body {
  height: 100vh;
  font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.header-div {
  display: flex;
  flex-direction: row;
  border-bottom: solid 3px;
  background-color: #443A7B;
  justify-content: space-between;
}

.iMember-h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  color: #A48ABF;
  font-size: 3em;
}

.berry-single {
  height: 10vh;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
}

.logButtons {
  align-self: center;
  padding: 10px;
  margin: 10px;
}

button {
  border-radius: 10px;
  padding: 5px;
  margin: 2px 15px 2px 10px;
  color: #F0E9F2;
  background-color: #A48ABF;
}

button:hover {
  box-shadow: 2px 2px 2px rgb(0, 0, 0, .5);
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}
